<p>Add a new switch</p>

<%= form_with(model: switch) do |form| %>

  <%= render "form_errors", switch: switch %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
